.hello {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 8vw;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 2.3px #5499f6;

    top: -6.5%;
    left: 3.2%;

    z-index: 9999;
}

body {
    background-color: transparent;
}

.name {
    font-family: 'Montserrat', sans-serif; 
    color: #357ad5;
    font-weight: 500;   
    font-size: 4vw;
    
    top: 13%;
    left: 5%;
    cursor: default;

    z-index: 9999;
}

.info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.2vw;
    color: #9ec96a;
    
    top: 27%;
    left: 5.25%;
    width: 600px;
    cursor: default;

    z-index: 9999;
}

.extra-info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.2vw;
    color: #9ec96a;
    text-align: right;
    
    bottom: 3%;
    right: 3%;
    width: 20vw;
    cursor: default;

    z-index: 9999;
}

.hello,
.name,
.info,
.extra-info {
    z-index: 9999;
    position: absolute;
}

#page {
    position: absolute;
    top: 0;
    left: -2.45%;
    padding-left: 2.3%;
}

