.hello {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16vh;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 2.3px #5499f6;

    top: -8.5vh;
    left: 3.5vw;

    z-index: 9999;
}

body {
    background-color: transparent;
}

.name {
    font-family: 'Montserrat', sans-serif; 
    color: #357ad5;
    font-weight: 500;   
    font-size: 8vh;
    
    top: 14vh;
    left: 4.6vw;
    cursor: default;

    z-index: 9999;
}

.info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2.4vh;
    color: #9ec96a;
    
    top: 32vh;
    left: 5vw;
    width: 24vw;
    cursor: default;

    z-index: 9999;
}

.extra-info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2.4vh;
    color: #9ec96a;
    text-align: right;
    
    bottom: 3%;
    right: 3%;
    width: 20vw;
    cursor: default;

    z-index: 9999;
}

.hello,
.name,
.info,
.extra-info {
    z-index: 9999;
    position: absolute;
}

#page {
    position: absolute;
    top: 0;
    left: -2.45%;
    padding-left: 2.3%;
}

