body {
    background-color: transparent;
}

.project-info {
    color: #ff685d !important;
}

.project.selected {
    font-weight: 800 !important;
}

.intro {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2.8vh;
    color: #9ec96a;

    position: absolute;
    
    top: 1vh;
    left: 2.15vw;
    width: 25vw;
    cursor: default;

    z-index: 9999;
}

.projects-list {
    position: absolute;

    top: 1vh;
    right: 2.15vw;
    width: 28vw;
    height: 100vh;
    cursor: default;

    z-index: 9999;
}

.projects-list p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2.5vh;
    color: #9ec96a;
    /* text should start from right */
    text-align: right;
    margin-bottom: -1.6vh;
}

#overview-text {
    margin-bottom: 3.3vh;
}

.projects-details {
    text-overflow: ellipsis;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s cubic-bezier(0.5, 0, 0, 1), opacity .2s ease-out;
}

.visible {
    visibility: visible;
    opacity: 1;
    max-height: 35vh; /* Adjust this value as needed */
    transition: max-height 0.35s cubic-bezier(0, 0, 0.5, 1), opacity 0.25s ease-in;
}

.project {
    cursor:pointer;
}

.project:hover {
    color: #678e37;
}